<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
  <li>Julia</li>
  <li>Scala</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
  <li>Python</li>
  <li>SQL</li>
  <li>R-Studio</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>Pandas</li>
  <li>Numpy</li>
  <li>Matplotlib</li>
</ol>

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>1. RStudio</td>
  </tr>
  <tr>
    <td>2. Apache Spark</td>
  </tr>
  <tr>
    <td>3. TensorFlow</td>
  </tr>
</table>

</h3>Below are a few examples of evaluating arithmetic expressions in Python <br>
Addition: + <br>
Subtraction - <br>
Multiplication: * <br>
Division: / <br>
Modulus: % <br>
Exponentiation: ** <br>
</h3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
h=200//60
print("Hours=",h)

Hours= 3

<h2> Author </h2>
Sandeep KM